/* #global-panel{
    
    
    
} */

.title{
    font-weight: 400;
    font-size: 3rem;
}

.con-attributes {
    background-color: #C9D6DF;
    padding: 4rem;
    height: 25rem;
    width: 72rem;
    color: #1E2022;
    margin: 1rem;
    border-radius: 2rem;
    
}

.opin-attributes {
    background: rgba(201, 214, 223, 0.3);
    padding: .5rem;
    height: 100%rem;
    width: 17rem;
    margin-left: 47.5rem;
    margin-top: 5.5rem;
    border-radius: .3rem;  
}

.opin-attributes-inner {
    padding: .5rem;
    height: 100%rem;
    width: 100%rem;
    border-radius: .3rem;
    
    
}

.background-micro {
    background-image: url("../Landing/images/microred.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: bottom ;
    
   
}

.pad-top {
    padding-top:6.5rem;
    
}

