/* #global-panel{
    
    
    
} */

.title{
    font-weight: 400;
    font-size: 3rem;
}

.con-attributes {
    background-color: #C9D6DF;
    padding: 4rem;
    height: 25rem;
    width: 85%;
    color: #1E2022;
    margin: 1rem;
    border-radius: 2rem;
    
}

.con-attributes-sec {
    background-color: rgb(201, 214, 223,0.9);
    padding: 2.4rem;
    height: auto;
    width: 85%;
    color: #1E2022;
    margin: 1rem;
    border-radius: 2rem;
    
}

.card-background {
    background-color: #59788E;
    height: 100%;
    padding-top: 1.09rem;
    border-radius: 1rem;
    font-size: large;
}

.opin-attributes {
    background: rgba(201, 214, 223, 0.3);
    padding: .5rem;
    height: 100%rem;
    width: 17rem;
    margin-left: 54rem;
    margin-top: 5.5rem;
    border-radius: .3rem;  
}

.opin-attributes-inner {
    padding: .5rem;
    height: 100%rem;
    width: 100%rem;
    border-radius: .3rem;
    
    
}

.background-micro {
    background-image: url("../Landing/images/microred.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: bottom ;
    
   
}

.pad-top {
    padding-top:6.5rem;
    
}


/*-- Workflow Section CSS --*/
#Workflow {
    
    
    color: #1E2022;
}
#Workflow .work-process::after {
    content: "";
    position: absolute;
    background: #f1f3f5;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 100%;
    transition: all 0.3s;
    z-index: -1;
}
#Workflow .work-process:hover::after {
    background: rgb(233 248 255 / 22%);
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
}
#Workflow .work-process {
    background-color: #fff;
    padding: 40px 15px;
    position: relative;
    z-index: 1;
    transition: 0.5s;
    box-shadow: 0px 30px 0px -20px #ffffff;
    margin-bottom: 30px;
    border-bottom: 3px solid #607d8b;
    text-align: center;
}
#Workflow .work-process i {
    margin: 0 auto;
    display: table;
    background-color: #52616B;
    width: 70px;
    height: 70px;
    border-radius: 8px;
    font-size: 40px;
    text-align: center;
    color: #fff;
    line-height: 70px;
}
#Workflow .work-process h3 {
    margin: 15px 0px;
}
#Workflow .work-process h3 a {
    font-size: 20px;
    color: #607d8b;
}
#Workflow .work-process p {
    color: #8d9ea7;
}
/*-- Workflow Section CSS --*/

#font-thicken {
    font-weight: bold;
}