#main-panel{
    background-color: #C9D6DF;
    color: #1E2022;
    margin: 1rem;
    border-radius: 2rem;
    
  }

.title{
    font-weight: 400;
    font-size: 3rem;
}

.con-attributes {
    background-color: #C9D6DF;
    padding: 4rem;
    height: 25rem;
    width: 72rem;
    
}

.opin-attributes {
    background-color: #C9D6DF;
    padding: .5rem;
    height: 100%rem;
    width: 20rem;
    margin-left: 45rem;
    margin-top: 8rem;
    border-radius: .3rem;
    
}

.opin-attributes-inner {
    background-color: #F0F5F9;
    padding: .5rem;
    height: 100%rem;
    width: 100%rem;
    border-radius: .3rem;
    margin-bottom: .5rem;
    
}

.background-micro {
    background-image: url("../Landing/microscope.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 0;
    
   
}

.pad-top {
    padding-top:6.5rem;
    
}

