.main-panel-about {
    background-color: rgb(201, 214, 223,0.5);
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 85%;
    padding: 2rem;
}
.sub-panel-accordion {
    background-color: rgb(201, 214, 223,1);
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 85%;
    padding: 2rem;
}
.sub-panel-learnabout {
    background-color: #F0F5F9;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
    padding: 2rem;
}
.sub-panel-learnabout-outer {
    background-color: rgb(201, 214, 223,1);
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 85%;
    padding: 2rem;
}
.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
    font-size: large;
}
.header-learnabout {
    text-align: center;
}