.main-panel-about {
    background-color: #C9D6DF;
    border-radius: 2rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 80rem;
    padding: 2rem;
}