
    
    
    .card-acc {
        background: #C9D6DF;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 0;
        margin-bottom: 1rem;
        height: 100%;
        padding: 2rem;
    }
    .form-control-acc {
        
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-size: .825rem;
        color: #52616B;
    }
    .contain-scroll {
        margin:4px, 4px;
        padding:6px;
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
        
    }
    .header-side-panel {
        background-color: #F0F5F9;
        width: 100%;
    }
    .cont-inner {
        background-color: #C9D6DF;
        padding: 2rem;
        
        width: 100%;
        color: #1E2022;
        margin: 1rem;
        border-radius: 2rem;
    }