#pane {
    background-color: #C9D6DF;
    font-family: 'Source Serif Pro', serif;
    
}

.card {
    border-radius: 1rem;
}

#header-canvas {
    background-color: #F0F5F9;
    padding-left: 6.8rem;
    width: 100%;
}

.flagged-text {
    color: red;
}