body {
  margin: 0;
  font-size: 1rem;
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url("./static/images/2797350.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

code {
  font-size: 1rem;
  font-family: 'Open Sans Condensed', sans-serif;
}

#custom-font {
  font-family: 'Source Serif Pro', serif;
  /* font-family: 'Open Sans Condensed', sans-serif; */
}
