.con-attributes-form {
    background-color: #C9D6DF;
    padding: 4.5rem;
    height: 100%;
    width: 50rem;
    color: #1E2022;
    margin: 1rem;
    border-radius: 1.5rem;
    
}

.form-inner {
    background: rgb(240, 245, 249,0.5);
    padding: 1.5rem;
    border-radius: 1.5rem;
}

.post-title-font{
    font-size: 2.2rem;
    font-weight: 400;
}

.cent-style {
    justify-content: center;
    background-color: #52616B;
    border-radius: .3rem;
    color: #F0F5F9;
    padding-left: 15rem;
}

.cent-style-two {
    justify-content: center;
    background-color: #52616B;
    border-radius: .3rem;
    color: #F0F5F9;
    padding-left: 13rem;
}

.pad-left {
    padding-left: 15rem;
}

.cent-style-drop, .btn {
    justify-content: center;
    border-radius: 2rem;  
    width: 100% !important;
    height: 2.5rem;
    
}

.form-scroll {
    margin:4px, 4px;
    padding:4px;
    height: 37rem;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

/* width */
::-webkit-scrollbar {
    width: 11px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #F0F5F9;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #52616B;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1E2022;
  }