.con-attributes-form {
    background-color: #C9D6DF;
    padding: 6rem;
    height: 100%;
    width: 50rem;
    color: #1E2022;
    margin: 3rem;
    border-radius: 2rem;
    
}

.post-title-font{
    font-size: 2.2rem;
    font-weight: 400;
}

.cent-style {
    justify-content: center;
    background-color: #52616B;
    border-radius: 2rem;
    color: #F0F5F9;
    padding-left: 15rem;
}

.cent-style-two {
    justify-content: center;
    background-color: #52616B;
    border-radius: 2rem;
    color: #F0F5F9;
    padding-left: 13rem;
}

.pad-left {
    padding-left: 15rem;
}